.pre-commit-config.yaml
__pycache__/
*.pyc
venv/
output_file.txt
test*
.vscode
.mypy_cache/
.pytest_cache/
.build-venv/
dist/
build/
*.egg-info/.pre-commit-config.yaml
__pycache__/
*.pyc
venv/
output_file.txt
test*
.vscode